[build]
  command = "npm install"
  functions = "functions"
  publish = "dist"

[dev]
  command = "npm start"
  port = 5000

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
